#include <winver.h>
#include "../include/psf2_player_version.h"

#define IDI_APP_ICON 101

IDI_APP_ICON ICON "psf2_spu2_player.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION PSF2_PLAYER_VERSION_MAJOR,PSF2_PLAYER_VERSION_MINOR,PSF2_PLAYER_VERSION_PATCH,PSF2_PLAYER_VERSION_BUILD
 PRODUCTVERSION PSF2_PLAYER_VERSION_MAJOR,PSF2_PLAYER_VERSION_MINOR,PSF2_PLAYER_VERSION_PATCH,PSF2_PLAYER_VERSION_BUILD
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104b0"
        BEGIN
            VALUE "CompanyName", "Codex"
            VALUE "Comments", PSF2_PLAYER_VERSION_DISPLAY
            VALUE "FileDescription", "PSF SPU Player"
            VALUE "FileVersion", PSF2_PLAYER_VERSION_DISPLAY
            VALUE "InternalName", "psf_spu_player"
            VALUE "LegalCopyright", "Codex 2026"
            VALUE "OriginalFilename", "psf_spu_player.exe"
            VALUE "ProductName", "PSF SPU Player"
            VALUE "ProductVersion", PSF2_PLAYER_VERSION_DISPLAY
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0411, 1200
    END
END
